@use './partials/variables' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    color: $darkBlue;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

button {
    font-weight: 500;
    font-size: .7em;
    padding: 15px 35px;
    background-color: #ffffff;
    color: $darkBlue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bg_blue {
    background-color: $blue;
    color: #ffffff;
}

.active {
    border-bottom: solid 1px #ffffff;
}

.container_centered {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}